db-backup
magento/app/etc/local.xml
magento/downloader/cache.cfg
magento/downloader/connect.cfg
magento/lib/phpqrcode/cache
magento/media
magento/media_bak
magento/downloader/.cache/
Thumbs.db
magento/var/
sftp-config.json