<?xml version="1.0"?>
<config>
  <modules>
      <MADComputing_QuoteViewer>
           <version>1.0.0.0.1</version>
      </MADComputing_QuoteViewer>
  </modules>
  <global>
    <models>
        <madcomputing_quoteviewer>
             <class>MADComputing_QuoteViewer_Model</class>
        </madcomputing_quoteviewer>
    </models>
    <helpers>
        <madcomputing_quoteviewer>
            <class>MADComputing_QuoteViewer_Helper</class>
        </madcomputing_quoteviewer>
    </helpers>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <MADComputing_QuoteViewer after="Mage_Adminhtml">MADComputing_QuoteViewer</MADComputing_QuoteViewer>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <madcomputing_quoteviewer>
          <file>madcomputing_quoteviewer.xml</file>
        </madcomputing_quoteviewer>
      </updates>
    <layout>
  </adminhtml>
</config>