<?xml version="1.0"?>
<config>
  <modules>
      <Madcomputing_Quoteviewer>
           <version>1.0.0.0.1</version>
      </Madcomputing_Quoteviewer>
  </modules>
  <global>
    <models>
        <quoteviewer>
             <class>Madcomputing_Quoteviewer_Model</class>
        </quoteviewer>
    </models>
    <helpers>
        <quoteviewer>
            <class>Madcomputing_Quoteviewer_Helper</class>
        </quoteviewer>
    </helpers>
  </global>
  <admin>
    <!--<routers>
        <quoteviewer>
            <use>admin</use>
            <args>
                <module>MADComputing_QuoteViewer</module>
                <frontName>quoteviewer</frontName>
            </args>
        </quoteviewer>
    </routers>-->
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Madcomputing_Quoteviewer after="Mage_Adminhtml">Madcomputing_Quoteviewer</Madcomputing_Quoteviewer>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <madcomputing_quoteviewer>
          <file>madcomputing_quoteviewer.xml</file>
        </madcomputing_quoteviewer>
      </updates>
    </layout>
  </adminhtml>
</config>