.home-link-image-container{
	line-height: 150px;
}

.home-link-image-container img{
	width:280px;
	display: inline-block;
	vertical-align: middle;
}

.imageLabel{
	font-size: 10px;
	text-align: center;
}

.thumb-link img{
	margin: 0 auto;
}

.thumb-zoom{
	position:absolute;
	transition:width 1s;
	z-index: 1000;
}

.thumb-zoom:hover{
	width:400px;
}

.no-touch .product-image-thumbs a{
	border-color: #DDD;
	margin: 3px;
	padding: 3px;
}

.no-touch .product-belt-buckles .product-image-thumbs a{
	width:150px;
}

.options-list label img{
	width: 150px;
	border:5px solid #f4f4f4;
	transition:width 1s;
}

.options-list label img:hover{
	width: 400px;
	border-color:#ececec;
}

.upsmap-container{
	padding: 20px;
}

.upsmap-container img{
	padding:5px;
	border:1px solid #000;
}

.initials-image{
	width: 100px;
}